{ 
  "myKoreaCrawler": 0, 
  "myKoreaCrawlerSession": 0, 
  "myKoreaCrawlerGetJust": 0,
  "myKoreaCrawlerGetLast": 0, 
  "myKoreaCrawlerRecovery": 0,
  "myKoreaCrawlerInitialize": 0,
  "myKoreaCrawlerStartStop": 0,
  "myKoreaCrawlerStartCrawl": 0,  
  "pttBeautyCrawler": 1, 
  "pttBeautyCrawlerGetJust": 1,
  "pttBeautyCrawlerInitialize": 0,
  "pttBeautyCrawlerStartCrawl": 0,      
  "ds214se": 1, 
  "ds214seDownloaMyKorea": 0, 
  "ds214seDownloaPttBeauty": 1
}        
