{ 
  "myKoreaCrawler": 1, 
  "myKoreaCrawlerSession": 1, 
  "myKoreaCrawlerGetJust": 0,
  "myKoreaCrawlerGetLast": 1, 
  "myKoreaCrawlerRecovery": 1,
  "myKoreaCrawlerInitialize": 1,
  "myKoreaCrawlerStartStop": 1,
  "myKoreaCrawlerStartCrawl": 1,  
  "pttBeautyCrawler": 1, 
  "pttBeautyCrawlerGetJust": 0,
  "pttBeautyCrawlerInitialize": 1,
  "pttBeautyCrawlerStartCrawl": 1,      
  "ds214se": 1, 
  "ds214seDownloaMyKorea": 1, 
  "ds214seDownloaPttBeauty": 1
}        
